# Build artifacts
.eggs
*.egg-info
/build
/dist
__pycache__

# Virtualenv
venv

# Tox
.tox

# Test artifacts
tests/output/*

# PyCharm
.idea

# Code Coverage
/.coverage
/htmlcov

# Documentation
/docs/_build
/docs/pangocairohelpers.*.rst

# Mac OS
.DS_store
